body {
background-color: rgb(3, 3, 160);
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
background-color: rgb(0, 106, 255);
display: inline-block;
border-radius: 10px;
color: white;
padding: 10px 20px;
font-size: medium;
cursor: pointer;
}

.nav {
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.head {background-color: rgb(41, 101, 255);
}

.main {
display: flex;
justify-content:left;
align-items: center;
}

.bunnen {
display: flex;
justify-content:space-between;
background-color: rgb(60, 167, 249);
height: 100vh;
gap: 20px;
padding: 20px;
}

.sec {
background-color: blue;
height: 20vh;
text-align: center;
padding: 10px 20px;
}