body {
background-color: rgb(3, 3, 160);
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
background-color: rgb(0, 106, 255);
display: inline-block;
border-radius: 10px;
color: white;
padding: 10px 20px;
font-size: medium;
cursor: pointer;
}

.head1 {
display: flex;
justify-content: flex-start;
}

.head2 {
display: flex;
justify-content: flex-end;
width: 100%;
}

.image {
display: flex;
justify-content: flex-end;
width: 100%;
}

.bunnen {
display: flex;
justify-content:space-evenly;
}